In [2]:
import pandas as pd
import numpy as np
import openpyxl as pxl
import tabula
import os
import lxml

Grabbing Data

In [38]:
x = pd.read_excel("Test Sheet.xlsx")

c:\Users\Gaku Tokusumi\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
x.head()

,Room,Room Type,Floor,Employee Assigned,Room Points,Front Desk Status,Housekeeping Status,Room Status,Pre-Registered,Service Type,...,Last Cleaned,Points Adjustment,Employee Total Rooms,Employee Total Points,Last Name,First Name,Action,Scheduled Return Time,Cleaning Start Time,Cleaning End Time
0,304,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 10:55:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
1,305,GK,03rd Floor,Johana,6.0,Occupied,Occupied,Dirty,NO,Check-Out,...,2023-03-02 10:55:00,0,18,88,Mugar,Carolyn,NaN,NaN,NaN,NaN
2,306,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 13:41:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
3,309,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 17:47:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
4,311,GK,03rd Floor,Johana,6.0,Occupied,Occupied,Dirty,NO,Check-Out,...,2023-03-03 13:12:00,0,18,88,DePrez Jr,John,NaN,NaN,NaN,NaN

In [5]:
 x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Room                   128 non-null    int64
 1   Room Type              128 non-null    object
 2   Floor                  128 non-null    object
 3   Employee Assigned      128 non-null    object
 4   Room Points            126 non-null    float64
 5   Front Desk Status      128 non-null    object
 6   Housekeeping Status    128 non-null    object
 7   Room Status            128 non-null    object
 8   Pre-Registered         128 non-null    object
 9   Service Type           128 non-null    object
 10  VIP                    4 non-null      object
 11  Next Arrival Date      7 non-null      datetime64[ns]
 12  Next Arrival Time      1 non-null      object
 13  Arrival Date           94 non-null     datetime64[ns]
 14  Arrival Time           0 non-null      float64
 15  Departure Date         94 non-null     datetime64[ns]
 16  Departure Time         1 non-null      object
 17  Turndown Time          0 non-null      float64
 18  Cleaning Time          0 non-null      float64
 19  Room Type Name         128 non-null    object
 20  Room Description       128 non-null    object
 21  Last Cleaned           126 non-null    datetime64[ns]
 22  Points Adjustment      128 non-null    int64
 23  Employee Total Rooms   128 non-null    int64
 24  Employee Total Points  128 non-null    int64
 25  Last Name              94 non-null     object
 26  First Name             94 non-null     object
 27  Action                 6 non-null      object
 28  Scheduled Return Time  0 non-null      float64
 29  Cleaning Start Time    4 non-null      object
 30  Cleaning End Time      0 non-null      float64
dtypes: datetime64[ns](4), float64(6), int64(4), object(17)
memory usage: 31.1+ KB

In [6]:
len(x)

128

In [11]:
x[['Room Type','Room Points','Service Type']]

    Room Type       VIP  Room Points Service Type
0          GK       NaN          6.0    Check-Out
1          GK       NaN          6.0    Check-Out
2          GK       NaN          6.0    Check-Out
3          GK       NaN          6.0    Check-Out
4          GK       NaN          6.0    Check-Out
..        ...       ...          ...          ...
123       GQQ       NaN          4.0        Light
124       GQQ       NaN          4.0        Light
125        GK       NaN          3.0        Light
126      STE2  Heads Up          8.0        Light
127      STE2       NaN          8.0        Light

[128 rows x 4 columns]

Cleaing Data

In [56]:
df = x[['Room Type','Employee Assigned','Room Points','Service Type','Action']]

In [24]:
df

    Room Type Employee Assigned  Room Points Service Type Action
0          GK            Johana          6.0    Check-Out    NaN
1          GK            Johana          6.0    Check-Out    NaN
2          GK            Johana          6.0    Check-Out    NaN
3          GK            Johana          6.0    Check-Out    NaN
4          GK            Johana          6.0    Check-Out    NaN
..        ...               ...          ...          ...    ...
123       GQQ             Julio          4.0        Light    NaN
124       GQQ             Julio          4.0        Light    NaN
125        GK             Julio          3.0        Light    NaN
126      STE2             Julio          8.0        Light    NaN
127      STE2             Julio          8.0        Light    NaN

[128 rows x 5 columns]

In [40]:
names = df['Employee Assigned'].unique()

In [30]:
type(names)

numpy.ndarray

In [31]:
names = np.ndarray.tolist(names)

In [32]:
type(names)

list

Set index

In [33]:
df.set_index('Employee Assigned',inplace=True)

In [34]:
df

                  Room Type  Room Points Service Type Action
Employee Assigned
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
...                     ...          ...          ...    ...
Julio                   GQQ          4.0        Light    NaN
Julio                   GQQ          4.0        Light    NaN
Julio                    GK          3.0        Light    NaN
Julio                  STE2          8.0        Light    NaN
Julio                  STE2          8.0        Light    NaN

[128 rows x 4 columns]

Adding names to excel sheet

In [35]:
wb = pxl.Workbook()

In [36]:
sheet = wb.active

Working function
need to find a way to add workload

In [51]:
from openpyxl.utils.dataframe import dataframe_to_rows
lstname = pd.DataFrame(np.ndarray.tolist(names))
rows = dataframe_to_rows(lstname)
for r_idx,row in enumerate(rows,1):
    for c_idx,value in enumerate(row,1):
        sheet.cell(row=r_idx,column=c_idx,value=value)
wb.save("testbook.xlsx")

In [46]:
lstname

           0
0     Johana
1  Alexander
2   Cheyenne
3       Shae
4     Nestor
5       Emir
6    Mariana
7    Jasmine
8      Julio
9   Andrea A

Calculating workload

In [57]:
df

    Room Type Employee Assigned  Room Points Service Type Action
0          GK            Johana          6.0    Check-Out    NaN
1          GK            Johana          6.0    Check-Out    NaN
2          GK            Johana          6.0    Check-Out    NaN
3          GK            Johana          6.0    Check-Out    NaN
4          GK            Johana          6.0    Check-Out    NaN
..        ...               ...          ...          ...    ...
123       GQQ             Julio          4.0        Light    NaN
124       GQQ             Julio          4.0        Light    NaN
125        GK             Julio          3.0        Light    NaN
126      STE2             Julio          8.0        Light    NaN
127      STE2             Julio          8.0        Light    NaN

[128 rows x 5 columns]

Room type

In [69]:
roomCount = {'King Checkout':0,'King Stayover':0,'Queen Checkout':0,'Queen Stayover':0}
# roomCountPrime = {} Use to create dictionary for all room types

In [58]:
x = df.sort_values(by='Employee Assigned')

In [59]:
x

   Room Type Employee Assigned  Room Points Service Type Action
63       GQQ         Alexander          4.0        Light    NaN
67      SGQQ         Alexander          7.0        Light    NaN
66       GQQ         Alexander          4.0        Light    NaN
65        GK         Alexander          3.0        Light    NaN
64       GQQ         Alexander          4.0        Light    NaN
..       ...               ...          ...          ...    ...
75       GQQ              Shae          4.0        Light    NaN
74       GQQ              Shae          4.0        Light    NaN
73       GQQ              Shae          4.0        Light    NaN
68        GK              Shae          3.0        Light    NaN
17     ASJQQ              Shae          7.0    Check-Out    NaN

[128 rows x 5 columns]

slices dataframe by employee

In [60]:
cleaned = dict(tuple(x.groupby("Employee Assigned")))

In [61]:
cleaned

{'Alexander':    Room Type Employee Assigned  Room Points Service Type            Action
 63       GQQ         Alexander          4.0        Light               NaN
 67      SGQQ         Alexander          7.0        Light               NaN
 66       GQQ         Alexander          4.0        Light               NaN
 65        GK         Alexander          3.0        Light               NaN
 64       GQQ         Alexander          4.0        Light               NaN
 62       DGK         Alexander          3.0        Light               NaN
 7         GK         Alexander          NaN    Check-Out               NaN
 8         GK         Alexander          6.0    Check-Out               NaN
 9        GQQ         Alexander          7.0    Check-Out  Cleaning Started
 10       GQQ         Alexander          7.0    Check-Out               NaN
 11        GK         Alexander          6.0    Check-Out               NaN
 12      STE1         Alexander          9.0    Check-Out               NaN,
 'Andrea A':     Room Type Employee Assigned  Room Points Service Type Action
 98        DGK          Andrea A          3.0        Light    NaN
 99        AGK          Andrea A          3.0        Light    NaN
 101        GK          Andrea A          3.0        Light    NaN
 100       GQQ          Andrea A          4.0        Light    NaN
 102       GQQ          Andrea A          4.0        Light    NaN
 103        GK          Andrea A          3.0        Light    NaN
 104       GQQ          Andrea A          4.0        Light    NaN
 105        GK          Andrea A          3.0        Light    NaN
 106      STE1          Andrea A          6.0        Light    NaN
 107     ASGQQ          Andrea A          7.0        Light    NaN,
 'Cheyenne':    Room Type Employee Assigned  Room Points Service Type Action
 43       GQQ          Cheyenne          7.0    Check-Out    NaN
 13        GK          Cheyenne          6.0    Check-Out    NaN
 44       GQQ          Cheyenne          7.0    Check-Out    NaN
 14        GK          Cheyenne          6.0    Check-Out    NaN
 42       GQQ          Cheyenne          7.0    Check-Out    NaN
 40       DGK          Cheyenne          6.0    Check-Out    NaN
 39       GQQ          Cheyenne          7.0    Check-Out    NaN
 38        GK          Cheyenne          6.0    Check-Out    NaN,
 'Emir':    Room Type Employee Assigned  Room Points Service Type           Action
 88     DCGQQ              Emir          4.0        Light              NaN
 87       SGK              Emir          6.0        Light              NaN
 34       GQQ              Emir          7.0    Check-Out              NaN
 90     ASJQQ              Emir          4.0        Light  Service Refused
 32       GQQ              Emir          7.0    Check-Out              NaN
 94        GK              Emir          3.0        Light              NaN
 93       GQQ              Emir          4.0        Light              NaN
 33        GK              Emir          6.0    Check-Out              NaN
 91       GQQ              Emir          4.0        Light              NaN
 92        GK              Emir          3.0        Light              NaN
 28        GK              Emir          6.0    Check-Out              NaN
 29        GK              Emir          6.0    Check-Out              NaN
 30        GK              Emir          6.0    Check-Out              NaN
 31        GK              Emir          6.0    Check-Out              NaN
 89     DCGQQ              Emir          4.0        Light  Service Refused,
 'Jasmine':    Room Type Employee Assigned  Room Points Service Type Action
 41       DGK           Jasmine          6.0    Check-Out    NaN,
 'Johana':    Room Type Employee Assigned  Room Points Service Type Action
 58        GK            Johana          3.0        Light    NaN
 95       GQQ            Johana          4.0        Light    NaN
 96        GK            Johana          3.0        Light    NaN
 97       GQQ            Johana          4.0        Light    NaN
 61       GQQ            Johana          4.0        Light    NaN
 60       GQQ            Johana          4.0        Light    NaN
 59     ASJQQ            Johana          4.0        Light    NaN
 57     DCGQQ            Johana          4.0        Light    NaN
 0         GK            Johana          6.0    Check-Out    NaN
 1         GK            Johana          6.0    Check-Out    NaN
 2         GK            Johana          6.0    Check-Out    NaN
 3         GK            Johana          6.0    Check-Out    NaN
 4         GK            Johana          6.0    Check-Out    NaN
 5         GK            Johana          6.0    Check-Out    NaN
 6         GK            Johana          6.0    Check-Out    NaN,
 'Julio':     Room Type Employee Assigned  Room Points Service Type Action
 55        GQQ             Julio          7.0    Check-Out    NaN
 125        GK             Julio          3.0        Light    NaN
 124       GQQ             Julio          4.0        Light    NaN
 123       GQQ             Julio          4.0        Light    NaN
 122       GQQ             Julio          4.0        Light    NaN
 121      STE2             Julio          8.0        Light    NaN
 120       GQQ             Julio          4.0        Light    NaN
 119        GK             Julio          3.0        Light    NaN
 54         GK             Julio          6.0    Check-Out    NaN
 127      STE2             Julio          8.0        Light    NaN
 56        GQQ             Julio          7.0    Check-Out    NaN
 53         GK             Julio          6.0    Check-Out    NaN
 52        GQQ             Julio          7.0    Check-Out    NaN
 51         GK             Julio          6.0    Check-Out    NaN
 50        GQQ             Julio          7.0    Check-Out    NaN
 126      STE2             Julio          8.0        Light    NaN
 49         GK             Julio          6.0    Check-Out    NaN
 48         GK             Julio          6.0    Check-Out    NaN,
 'Mariana':     Room Type Employee Assigned  Room Points Service Type            Action
 110        GK           Mariana          3.0        Light               NaN
 117       GQQ           Mariana          4.0        Light               NaN
 116       GQQ           Mariana          4.0        Light               NaN
 109        GK           Mariana          3.0        Light               NaN
 115        GK           Mariana          3.0        Light               NaN
 35         GK           Mariana          6.0    Check-Out               NaN
 36        GQQ           Mariana          7.0    Check-Out               NaN
 111        GK           Mariana          3.0        Light               NaN
 113        GK           Mariana          3.0        Light               NaN
 112        GK           Mariana          3.0        Light               NaN
 37         GK           Mariana          6.0    Check-Out               NaN
 45      DCGQQ           Mariana          7.0    Check-Out  Cleaning Started
 46         GK           Mariana          6.0    Check-Out               NaN
 47      DCGQQ           Mariana          7.0    Check-Out               NaN
 108        GK           Mariana          6.0        Light               NaN
 114       GQQ           Mariana          4.0        Light               NaN
 118       GQQ           Mariana          4.0        Light               NaN,
 'Nestor':    Room Type Employee Assigned  Room Points Service Type            Action
 25       GQQ            Nestor          7.0    Check-Out               NaN
 24        GK            Nestor          6.0    Check-Out               NaN
 27      STE1            Nestor          NaN    Check-Out               NaN
 86     ASGQQ            Nestor          7.0        Light               NaN
 85       GQQ            Nestor          4.0        Light               NaN
 84        GK            Nestor          3.0        Light               NaN
 83        GK            Nestor          3.0        Light               NaN
 82       GQQ            Nestor          4.0        Light               NaN
 81       GQQ            Nestor          4.0        Light               NaN
 80       GQQ            Nestor          4.0        Light               NaN
 79       DGK            Nestor          3.0        Light               NaN
 78       AGK            Nestor          3.0        Light               NaN
 72       GQQ            Nestor          7.0        Light               NaN
 23        GK            Nestor          6.0    Check-Out  Cleaning Started
 26       GQQ            Nestor          7.0    Check-Out               NaN,
 'Shae':    Room Type Employee Assigned  Room Points Service Type            Action
 71       GQQ              Shae          4.0        Light               NaN
 15        GK              Shae          6.0    Check-Out               NaN
 16        GK              Shae          6.0    Check-Out  Cleaning Started
 70       GQQ              Shae          4.0        Light               NaN
 18       GQQ              Shae          7.0    Check-Out               NaN
 19        GK              Shae          6.0    Check-Out               NaN
 20       GQQ              Shae          7.0    Check-Out               NaN
 21        GK              Shae          6.0    Check-Out               NaN
 22        GK              Shae          6.0    Check-Out               NaN
 69        GK              Shae          3.0        Light               NaN
 77       DGK              Shae          3.0        Light               NaN
 76       DGK              Shae          3.0        Light               NaN
 75       GQQ              Shae          4.0        Light               NaN
 74       GQQ              Shae          4.0        Light               NaN
 73       GQQ              Shae          4.0        Light               NaN
 68        GK              Shae          3.0        Light               NaN
 17     ASJQQ              Shae          7.0    Check-Out               NaN}

Way to get names

In [65]:
for i in cleaned:
    print(i)

Alexander
Andrea A
Cheyenne
Emir
Jasmine
Johana
Julio
Mariana
Nestor
Shae

In [64]:
alex = cleaned['Alexander']

In [66]:
alex

   Room Type Employee Assigned  Room Points Service Type            Action
63       GQQ         Alexander          4.0        Light               NaN
67      SGQQ         Alexander          7.0        Light               NaN
66       GQQ         Alexander          4.0        Light               NaN
65        GK         Alexander          3.0        Light               NaN
64       GQQ         Alexander          4.0        Light               NaN
62       DGK         Alexander          3.0        Light               NaN
7         GK         Alexander          NaN    Check-Out               NaN
8         GK         Alexander          6.0    Check-Out               NaN
9        GQQ         Alexander          7.0    Check-Out  Cleaning Started
10       GQQ         Alexander          7.0    Check-Out               NaN
11        GK         Alexander          6.0    Check-Out               NaN
12      STE1         Alexander          9.0    Check-Out               NaN

In [82]:
# Change else statement to switch case instead
# Change the counts for suites 
count = roomCount
FullCount= []
kings = ['GK','AGK','B5GK','DGK','STK']
queens = ['GQQ','GTT','STB','DCGQQ','ASJQQ']
suitesK = ['SGK','STE1']
SuitesS = 'STE2'
suitesQ = ['SGQQ','ASGQQ']
for i in range(len(alex['Room Points'])):
    points = alex["Room Points"].iloc[i] 
    room = alex['Room Type'].iloc[i]
    service = alex['Service Type'].iloc[i]
    if pd.isna(alex['Room Points'].iloc[i]) == True:
        if room in kings:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] + 1
            else:
                count['King Stayover'] = count['King Stayover'] + 1
        if room in queens:
            if service == 'Check-Out':
                count['Queen Checkout'] = count['Queen Checkout'] + 1
            else:
                count['Queen Stayover'] = count['Queen Stayover'] + 1
        if room in suitesK:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] +1 
                count['King Stayover'] = count['King Stayover'] +1
            else:
                count['King Checkout'] = count['King Checkout'] +1 
        if room == SuitesS:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] + 2
            else:
                count['King Checkout'] = count['King Checkout'] +1 
        if room in suitesQ:
            if service == 'Check-Out':
                count['Queen Checkout'] = count['Queen Checkout'] +1
                count['king Stayover'] = count['King Stayover'] + 1

    #   Write code to check room type and service type
    else:
        if points == 3:
            count['King Stayover'] = count['King Stayover'] + 1
        if points == 4:
            count['Queen Stayover'] = count['Queen Stayover'] + 1
        if points == 6:
            count['King Checkout'] = count['King Checkout'] + 1
        if points == 7:
            count['Queen Checkout'] = count['Queen Checkout'] + 1
        if points == 9:
            count['King Checkout'] = count['King Checkout'] + 1
            count['King Stayover'] = count['King Stayover'] + 1
        if points == 10:
            count['King Checkout'] = count['King Checkout'] + 1
            count['Queen Stayover'] = count['Queen Stayover'] +1
        if points == 12:
            count['King Checkout'] = count['King Checkout'] + 2 
FullCount.append(('Alexander',count))

In [80]:
pd.isna(alex['Room Points'].iloc[6])

True

In [83]:
FullCount

[('Alexander',
  {'King Checkout': 8,
   'King Stayover': 6,
   'Queen Checkout': 6,
   'Queen Stayover': 6})]