In [2]:
import pandas as pd
import numpy as np
import openpyxl as pxl
import tabula
import os
import lxml

Grabbing Data

In [3]:
x = pd.read_excel("Test Sheet.xlsx")

c:\Users\Gaku Tokusumi\AppData\Local\Programs\Python\Python310\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
x.head()

,Room,Room Type,Floor,Employee Assigned,Room Points,Front Desk Status,Housekeeping Status,Room Status,Pre-Registered,Service Type,...,Last Cleaned,Points Adjustment,Employee Total Rooms,Employee Total Points,Last Name,First Name,Action,Scheduled Return Time,Cleaning Start Time,Cleaning End Time
0,304,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 10:55:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
1,305,GK,03rd Floor,Johana,6.0,Occupied,Occupied,Dirty,NO,Check-Out,...,2023-03-02 10:55:00,0,18,88,Mugar,Carolyn,NaN,NaN,NaN,NaN
2,306,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 13:41:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
3,309,GK,03rd Floor,Johana,6.0,Vacant,Vacant,Dirty,NO,Check-Out,...,2023-03-02 17:47:00,0,18,88,NaN,NaN,NaN,NaN,NaN,NaN
4,311,GK,03rd Floor,Johana,6.0,Occupied,Occupied,Dirty,NO,Check-Out,...,2023-03-03 13:12:00,0,18,88,DePrez Jr,John,NaN,NaN,NaN,NaN

In [5]:
 x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Room                   128 non-null    int64
 1   Room Type              128 non-null    object
 2   Floor                  128 non-null    object
 3   Employee Assigned      128 non-null    object
 4   Room Points            126 non-null    float64
 5   Front Desk Status      128 non-null    object
 6   Housekeeping Status    128 non-null    object
 7   Room Status            128 non-null    object
 8   Pre-Registered         128 non-null    object
 9   Service Type           128 non-null    object
 10  VIP                    4 non-null      object
 11  Next Arrival Date      7 non-null      datetime64[ns]
 12  Next Arrival Time      1 non-null      object
 13  Arrival Date           94 non-null     datetime64[ns]
 14  Arrival Time           0 non-null      float64
 15  Departure Date         94 non-null     datetime64[ns]
 16  Departure Time         1 non-null      object
 17  Turndown Time          0 non-null      float64
 18  Cleaning Time          0 non-null      float64
 19  Room Type Name         128 non-null    object
 20  Room Description       128 non-null    object
 21  Last Cleaned           126 non-null    datetime64[ns]
 22  Points Adjustment      128 non-null    int64
 23  Employee Total Rooms   128 non-null    int64
 24  Employee Total Points  128 non-null    int64
 25  Last Name              94 non-null     object
 26  First Name             94 non-null     object
 27  Action                 6 non-null      object
 28  Scheduled Return Time  0 non-null      float64
 29  Cleaning Start Time    4 non-null      object
 30  Cleaning End Time      0 non-null      float64
dtypes: datetime64[ns](4), float64(6), int64(4), object(17)
memory usage: 31.1+ KB

In [6]:
len(x)

128

In [11]:
x[['Room Type','Room Points','Service Type']]

    Room Type       VIP  Room Points Service Type
0          GK       NaN          6.0    Check-Out
1          GK       NaN          6.0    Check-Out
2          GK       NaN          6.0    Check-Out
3          GK       NaN          6.0    Check-Out
4          GK       NaN          6.0    Check-Out
..        ...       ...          ...          ...
123       GQQ       NaN          4.0        Light
124       GQQ       NaN          4.0        Light
125        GK       NaN          3.0        Light
126      STE2  Heads Up          8.0        Light
127      STE2       NaN          8.0        Light

[128 rows x 4 columns]

Cleaing Data

In [5]:
df = x[['Room Type','Employee Assigned','Room Points','Service Type','Action']]

In [24]:
df

    Room Type Employee Assigned  Room Points Service Type Action
0          GK            Johana          6.0    Check-Out    NaN
1          GK            Johana          6.0    Check-Out    NaN
2          GK            Johana          6.0    Check-Out    NaN
3          GK            Johana          6.0    Check-Out    NaN
4          GK            Johana          6.0    Check-Out    NaN
..        ...               ...          ...          ...    ...
123       GQQ             Julio          4.0        Light    NaN
124       GQQ             Julio          4.0        Light    NaN
125        GK             Julio          3.0        Light    NaN
126      STE2             Julio          8.0        Light    NaN
127      STE2             Julio          8.0        Light    NaN

[128 rows x 5 columns]

In [40]:
names = df['Employee Assigned'].unique()

In [30]:
type(names)

numpy.ndarray

In [31]:
names = np.ndarray.tolist(names)

In [32]:
type(names)

list

Set index

In [33]:
df.set_index('Employee Assigned',inplace=True)

In [34]:
df

                  Room Type  Room Points Service Type Action
Employee Assigned
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
Johana                   GK          6.0    Check-Out    NaN
...                     ...          ...          ...    ...
Julio                   GQQ          4.0        Light    NaN
Julio                   GQQ          4.0        Light    NaN
Julio                    GK          3.0        Light    NaN
Julio                  STE2          8.0        Light    NaN
Julio                  STE2          8.0        Light    NaN

[128 rows x 4 columns]

Adding names to excel sheet

In [35]:
wb = pxl.Workbook()

In [36]:
sheet = wb.active

Working function
need to find a way to add workload

In [51]:
from openpyxl.utils.dataframe import dataframe_to_rows
lstname = pd.DataFrame(np.ndarray.tolist(names))
rows = dataframe_to_rows(lstname)
for r_idx,row in enumerate(rows,1):
    for c_idx,value in enumerate(row,1):
        sheet.cell(row=r_idx,column=c_idx,value=value)
wb.save("testbook.xlsx")

In [46]:
lstname

           0
0     Johana
1  Alexander
2   Cheyenne
3       Shae
4     Nestor
5       Emir
6    Mariana
7    Jasmine
8      Julio
9   Andrea A

Calculating workload

In [57]:
df

    Room Type Employee Assigned  Room Points Service Type Action
0          GK            Johana          6.0    Check-Out    NaN
1          GK            Johana          6.0    Check-Out    NaN
2          GK            Johana          6.0    Check-Out    NaN
3          GK            Johana          6.0    Check-Out    NaN
4          GK            Johana          6.0    Check-Out    NaN
..        ...               ...          ...          ...    ...
123       GQQ             Julio          4.0        Light    NaN
124       GQQ             Julio          4.0        Light    NaN
125        GK             Julio          3.0        Light    NaN
126      STE2             Julio          8.0        Light    NaN
127      STE2             Julio          8.0        Light    NaN

[128 rows x 5 columns]

Room type

In [11]:
roomCount = {'King Checkout':0,'King Stayover':0,'Queen Checkout':0,'Queen Stayover':0}
# roomCountPrime = {} Use to create dictionary for all room types

In [58]:
x = df.sort_values(by='Employee Assigned')

In [59]:
x

   Room Type Employee Assigned  Room Points Service Type Action
63       GQQ         Alexander          4.0        Light    NaN
67      SGQQ         Alexander          7.0        Light    NaN
66       GQQ         Alexander          4.0        Light    NaN
65        GK         Alexander          3.0        Light    NaN
64       GQQ         Alexander          4.0        Light    NaN
..       ...               ...          ...          ...    ...
75       GQQ              Shae          4.0        Light    NaN
74       GQQ              Shae          4.0        Light    NaN
73       GQQ              Shae          4.0        Light    NaN
68        GK              Shae          3.0        Light    NaN
17     ASJQQ              Shae          7.0    Check-Out    NaN

[128 rows x 5 columns]

slices dataframe by employee

In [6]:
cleaned = dict(tuple(x.groupby("Employee Assigned")))

In [7]:
cleaned

{'Alexander':     Room Room Type       Floor Employee Assigned  Room Points  \
 7    325        GK  03rd Floor         Alexander          NaN
 8    335        GK  03rd Floor         Alexander          6.0
 9    337       GQQ  03rd Floor         Alexander          7.0
 10   339       GQQ  03rd Floor         Alexander          7.0
 11   344        GK  03rd Floor         Alexander          6.0
 12   349      STE1  03rd Floor         Alexander          9.0
 62   336       DGK  03rd Floor         Alexander          3.0
 63   341       GQQ  03rd Floor         Alexander          4.0
 64   345       GQQ  03rd Floor         Alexander          4.0
 65   346        GK  03rd Floor         Alexander          3.0
 66   347       GQQ  03rd Floor         Alexander          4.0
 67   350      SGQQ  03rd Floor         Alexander          7.0

    Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 7           Occupied            Occupied       Dirty             NO
 8           Occupied            Occupied       Dirty             NO
 9             Vacant              Vacant       Dirty             NO
 10            Vacant              Vacant       Dirty             NO
 11            Vacant              Vacant       Dirty             NO
 12          Occupied            Occupied       Dirty             NO
 62          Occupied            Occupied       Dirty             NO
 63          Occupied            Occupied       Dirty             NO
 64          Occupied            Occupied       Dirty             NO
 65          Occupied            Occupied       Dirty             NO
 66          Occupied            Occupied       Dirty             NO
 67          Occupied            Occupied       Dirty             NO

    Service Type  ...        Last Cleaned Points Adjustment  \
 7     Check-Out  ... 2023-03-01 13:08:00                 0
 8     Check-Out  ... 2023-03-01 16:10:00                 0
 9     Check-Out  ... 2023-03-02 15:08:00                 0
 10    Check-Out  ... 2023-02-28 18:38:00                 0
 11    Check-Out  ... 2023-03-02 15:03:00                 0
 12    Check-Out  ... 2023-03-03 16:46:00                 0
 62        Light  ... 2023-03-03 12:58:00                 0
 63        Light  ... 2023-03-02 15:07:00                 0
 64        Light  ... 2023-03-01 16:20:00                 0
 65        Light  ... 2023-03-03 18:03:00                 0
 66        Light  ... 2023-03-03 17:11:00                 0
 67        Light  ... 2023-03-03 15:49:00                 0

    Employee Total Rooms Employee Total Points    Last Name  First Name  \
 7                    16                    83        Wells       Breon
 8                    16                    83        Dzelu      Cedric
 9                    16                    83          NaN         NaN
 10                   16                    83          NaN         NaN
 11                   16                    83          NaN         NaN
 12                   16                    83     Kingsley      Howard
 62                   16                    83        Welch       Lacey
 63                   16                    83  Angelopulos  Christaana
 64                   16                    83      Waidner   Stephanie
 65                   16                    83    Goncalves     Anthony
 66                   16                    83       landis         lia
 67                   16                    83     Aftergut         Amy

               Action  Scheduled Return Time  Cleaning Start Time  \
 7                NaN                    NaN                  NaN
 8                NaN                    NaN                  NaN
 9   Cleaning Started                    NaN                11:48
 10               NaN                    NaN                  NaN
 11               NaN                    NaN                  NaN
 12               NaN                    NaN                  NaN
 62               NaN                    NaN                  NaN
 63               NaN                    NaN                  NaN
 64               NaN                    NaN                  NaN
 65               NaN                    NaN                  NaN
 66               NaN                    NaN                  NaN
 67               NaN                    NaN                  NaN

    Cleaning End Time
 7                NaN
 8                NaN
 9                NaN
 10               NaN
 11               NaN
 12               NaN
 62               NaN
 63               NaN
 64               NaN
 65               NaN
 66               NaN
 67               NaN

 [12 rows x 31 columns],
 'Andrea A':      Room Room Type       Floor Employee Assigned  Room Points  \
 98    534       DGK  05th Floor          Andrea A          3.0
 99    535       AGK  05th Floor          Andrea A          3.0
 100   541       GQQ  05th Floor          Andrea A          4.0
 101   544        GK  05th Floor          Andrea A          3.0
 102   545       GQQ  05th Floor          Andrea A          4.0
 103   546        GK  05th Floor          Andrea A          3.0
 104   547       GQQ  05th Floor          Andrea A          4.0
 105   548        GK  05th Floor          Andrea A          3.0
 106   549      STE1  05th Floor          Andrea A          6.0
 107   550     ASGQQ  05th Floor          Andrea A          7.0

     Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 98           Occupied            Occupied       Dirty             NO
 99           Occupied            Occupied       Dirty             NO
 100          Occupied            Occupied       Dirty             NO
 101          Occupied            Occupied       Dirty             NO
 102          Occupied            Occupied       Dirty             NO
 103          Occupied            Occupied       Dirty             NO
 104          Occupied            Occupied       Dirty             NO
 105          Occupied            Occupied       Dirty             NO
 106          Occupied            Occupied       Dirty             NO
 107          Occupied            Occupied       Dirty             NO

     Service Type  ...        Last Cleaned Points Adjustment  \
 98         Light  ... 2023-03-03 14:29:00                 0
 99         Light  ... 2023-03-03 15:19:00                 0
 100        Light  ... 2023-03-03 11:02:00                 0
 101        Light  ... 2023-03-03 17:38:00                 0
 102        Light  ... 2023-03-03 14:00:00                 0
 103        Light  ... 2023-03-03 17:16:00                 0
 104        Light  ... 2023-03-01 14:54:00                 0
 105        Light  ... 2023-03-03 17:17:00                 0
 106        Light  ... 2023-03-03 15:24:00                 0
 107        Light  ... 2023-03-03 13:21:00                 0

     Employee Total Rooms Employee Total Points   Last Name First Name Action  \
 98                    10                    40        bond      marni    NaN
 99                    10                    40     Gregory     Carmen    NaN
 100                   10                    40    Schwartz     Maddie    NaN
 101                   10                    40       Burke      Kevin    NaN
 102                   10                    40  Sirdashney     Skyler    NaN
 103                   10                    40      Meyers      Zaque    NaN
 104                   10                    40     altholz    kathryn    NaN
 105                   10                    40        Faas      Brian    NaN
 106                   10                    40       Frank   Lawrence    NaN
 107                   10                    40     Schultz   Jennifer    NaN

      Scheduled Return Time  Cleaning Start Time Cleaning End Time
 98                     NaN                  NaN               NaN
 99                     NaN                  NaN               NaN
 100                    NaN                  NaN               NaN
 101                    NaN                  NaN               NaN
 102                    NaN                  NaN               NaN
 103                    NaN                  NaN               NaN
 104                    NaN                  NaN               NaN
 105                    NaN                  NaN               NaN
 106                    NaN                  NaN               NaN
 107                    NaN                  NaN               NaN

 [10 rows x 31 columns],
 'Cheyenne':     Room Room Type       Floor Employee Assigned  Room Points  \
 13   406        GK  04th Floor          Cheyenne          6.0
 14   409        GK  04th Floor          Cheyenne          6.0
 38   527        GK  05th Floor          Cheyenne          6.0
 39   528       GQQ  05th Floor          Cheyenne          7.0
 40   533       DGK  05th Floor          Cheyenne          6.0
 42   537       GQQ  05th Floor          Cheyenne          7.0
 43   539       GQQ  05th Floor          Cheyenne          7.0
 44   543       GQQ  05th Floor          Cheyenne          7.0

    Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 13            Vacant              Vacant       Dirty             NO
 14            Vacant              Vacant       Dirty             NO
 38            Vacant              Vacant       Dirty             NO
 39          Occupied            Occupied       Dirty             NO
 40            Vacant              Vacant       Dirty             NO
 42          Occupied            Occupied       Dirty             NO
 43            Vacant              Vacant       Dirty             NO
 44            Vacant              Vacant       Dirty             NO

    Service Type  ...        Last Cleaned Points Adjustment  \
 13    Check-Out  ... 2023-03-01 15:22:00                 0
 14    Check-Out  ... 2023-03-03 14:13:00                 0
 38    Check-Out  ... 2023-03-02 13:55:00                 0
 39    Check-Out  ... 2023-03-03 15:56:00                 0
 40    Check-Out  ... 2023-03-02 15:13:00                 0
 42    Check-Out  ... 2023-03-02 16:38:00                 0
 43    Check-Out  ... 2023-03-03 10:17:00                 0
 44    Check-Out  ... 2023-03-03 10:23:00                 0

    Employee Total Rooms Employee Total Points  Last Name First Name Action  \
 13                    8                    52        NaN        NaN    NaN
 14                    8                    52        NaN        NaN    NaN
 38                    8                    52        NaN        NaN    NaN
 39                    8                    52     Heller    Kristen    NaN
 40                    8                    52        NaN        NaN    NaN
 42                    8                    52       Bush      Nancy    NaN
 43                    8                    52        NaN        NaN    NaN
 44                    8                    52        NaN        NaN    NaN

     Scheduled Return Time  Cleaning Start Time Cleaning End Time
 13                    NaN                  NaN               NaN
 14                    NaN                  NaN               NaN
 38                    NaN                  NaN               NaN
 39                    NaN                  NaN               NaN
 40                    NaN                  NaN               NaN
 42                    NaN                  NaN               NaN
 43                    NaN                  NaN               NaN
 44                    NaN                  NaN               NaN

 [8 rows x 31 columns],
 'Emir':     Room Room Type       Floor Employee Assigned  Room Points  \
 28   504        GK  05th Floor              Emir          6.0
 29   509        GK  05th Floor              Emir          6.0
 30   510        GK  05th Floor              Emir          6.0
 31   511        GK  05th Floor              Emir          6.0
 32   516       GQQ  05th Floor              Emir          7.0
 33   517        GK  05th Floor              Emir          6.0
 34   518       GQQ  05th Floor              Emir          7.0
 87   501       SGK  05th Floor              Emir          6.0
 88   502     DCGQQ  05th Floor              Emir          4.0
 89   507     DCGQQ  05th Floor              Emir          4.0
 90   514     ASJQQ  05th Floor              Emir          4.0
 91   522       GQQ  05th Floor              Emir          4.0
 92   523        GK  05th Floor              Emir          3.0
 93   524       GQQ  05th Floor              Emir          4.0
 94   525        GK  05th Floor              Emir          3.0

    Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 28            Vacant              Vacant       Dirty             NO
 29          Occupied            Occupied       Dirty             NO
 30          Occupied            Occupied       Dirty             NO
 31          Occupied            Occupied       Dirty             NO
 32            Vacant              Vacant       Dirty             NO
 33            Vacant              Vacant       Dirty             NO
 34            Vacant              Vacant       Dirty             NO
 87          Occupied            Occupied       Dirty             NO
 88          Occupied            Occupied       Dirty             NO
 89          Occupied            Occupied       Dirty             NO
 90          Occupied            Occupied       Dirty             NO
 91          Occupied            Occupied       Dirty             NO
 92          Occupied            Occupied       Dirty             NO
 93          Occupied            Occupied       Dirty             NO
 94          Occupied            Occupied       Dirty             NO

    Service Type  ...        Last Cleaned Points Adjustment  \
 28    Check-Out  ... 2023-03-01 12:30:00                 0
 29    Check-Out  ... 2023-03-02 14:52:00                 0
 30    Check-Out  ... 2023-03-02 14:51:00                 0
 31    Check-Out  ... 2023-03-02 13:13:00                 0
 32    Check-Out  ... 2023-03-01 16:40:00                 0
 33    Check-Out  ... 2023-03-02 13:09:00                 0
 34    Check-Out  ... 2023-03-03 15:42:00                 0
 87        Light  ... 2023-03-02 14:54:00                 0
 88        Light  ... 2023-03-01 12:33:00                 0
 89        Light  ... 2023-03-03 10:05:00                 0
 90        Light  ... 2023-03-01 16:41:00                 0
 91        Light  ... 2023-03-03 14:02:00                 0
 92        Light  ... 2023-03-03 14:00:00                 0
 93        Light  ... 2023-03-03 12:41:00                 0
 94        Light  ... 2023-03-03 13:59:00                 0

    Employee Total Rooms Employee Total Points       Last Name First Name  \
 28                   18                    91             NaN        NaN
 29                   18                    91       Masciotra      David
 30                   18                    91         Colonna    Theresa
 31                   18                    91  Riney-Kehrberg     Pamela
 32                   18                    91             NaN        NaN
 33                   18                    91             NaN        NaN
 34                   18                    91             NaN        NaN
 87                   18                    91            Hart       Anja
 88                   18                    91           berry  elizabeth
 89                   18                    91        Bartlett     Loring
 90                   18                    91        Aftergut      Linda
 91                   18                    91          Madden       Alex
 92                   18                    91          Gilles       Ryan
 93                   18                    91       Magnanimo      Tessa
 94                   18                    91          Silver      Craig

              Action  Scheduled Return Time  Cleaning Start Time  \
 28              NaN                    NaN                  NaN
 29              NaN                    NaN                  NaN
 30              NaN                    NaN                  NaN
 31              NaN                    NaN                  NaN
 32              NaN                    NaN                  NaN
 33              NaN                    NaN                  NaN
 34              NaN                    NaN                  NaN
 87              NaN                    NaN                  NaN
 88              NaN                    NaN                  NaN
 89  Service Refused                    NaN                  NaN
 90  Service Refused                    NaN                  NaN
 91              NaN                    NaN                  NaN
 92              NaN                    NaN                  NaN
 93              NaN                    NaN                  NaN
 94              NaN                    NaN                  NaN

    Cleaning End Time
 28               NaN
 29               NaN
 30               NaN
 31               NaN
 32               NaN
 33               NaN
 34               NaN
 87               NaN
 88               NaN
 89               NaN
 90               NaN
 91               NaN
 92               NaN
 93               NaN
 94               NaN

 [15 rows x 31 columns],
 'Jasmine':     Room Room Type       Floor Employee Assigned  Room Points  \
 41   536       DGK  05th Floor           Jasmine          6.0

    Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 41    Out of Service      Out of Service       Dirty             NO

    Service Type  ... Last Cleaned Points Adjustment Employee Total Rooms  \
 41    Check-Out  ...          NaT                 0                    1

    Employee Total Points  Last Name First Name Action  Scheduled Return Time  \
 41                     6        NaN        NaN    NaN                    NaN

     Cleaning Start Time Cleaning End Time
 41                  NaN               NaN

 [1 rows x 31 columns],
 'Johana':     Room Room Type       Floor Employee Assigned  Room Points  \
 0    304        GK  03rd Floor            Johana          6.0
 1    305        GK  03rd Floor            Johana          6.0
 2    306        GK  03rd Floor            Johana          6.0
 3    309        GK  03rd Floor            Johana          6.0
 4    311        GK  03rd Floor            Johana          6.0
 5    317        GK  03rd Floor            Johana          6.0
 6    319        GK  03rd Floor            Johana          6.0
 57   307     DCGQQ  03rd Floor            Johana          4.0
 58   310        GK  03rd Floor            Johana          3.0
 59   314     ASJQQ  03rd Floor            Johana          4.0
 60   322       GQQ  03rd Floor            Johana          4.0
 61   324       GQQ  03rd Floor            Johana          4.0
 95   526       GQQ  05th Floor            Johana          4.0
 96   529        GK  05th Floor            Johana          3.0
 97   530       GQQ  05th Floor            Johana          4.0

    Front Desk Status Housekeeping Status Room Status Pre-Registered  \
 0             Vacant              Vacant       Dirty             NO
 1           Occupied            Occupied       Dirty             NO
 2             Vacant              Vacant       Dirty             NO
 3             Vacant              Vacant       Dirty             NO
 4           Occupied            Occupied       Dirty             NO
 5             Vacant              Vacant       Dirty             NO
 6           Occupied            Occupied       Dirty             NO
 57          Occupied            Occupied       Dirty             NO
 58          Occupied            Occupied       Dirty             NO
 59          Occupied            Occupied       Dirty             NO
 60          Occupied            Occupied       Dirty             NO
 61          Occupied            Occupied       Dirty             NO
 95          Occupied            Occupied       Dirty             NO
 96          Occupied            Occupied       Dirty             NO

Way to get names

In [8]:
test = [i for i in cleaned]
print(test)

['Alexander', 'Andrea A', 'Cheyenne', 'Emir', 'Jasmine', 'Johana', 'Julio', 'Mariana', 'Nestor', 'Shae']

In [9]:
alex = cleaned['Alexander']

In [66]:
alex

   Room Type Employee Assigned  Room Points Service Type            Action
63       GQQ         Alexander          4.0        Light               NaN
67      SGQQ         Alexander          7.0        Light               NaN
66       GQQ         Alexander          4.0        Light               NaN
65        GK         Alexander          3.0        Light               NaN
64       GQQ         Alexander          4.0        Light               NaN
62       DGK         Alexander          3.0        Light               NaN
7         GK         Alexander          NaN    Check-Out               NaN
8         GK         Alexander          6.0    Check-Out               NaN
9        GQQ         Alexander          7.0    Check-Out  Cleaning Started
10       GQQ         Alexander          7.0    Check-Out               NaN
11        GK         Alexander          6.0    Check-Out               NaN
12      STE1         Alexander          9.0    Check-Out               NaN

In [12]:
# Change else statement to switch case instead
# Change the counts for suites 
count = roomCount
FullCount= []
kings = ['GK','AGK','B5GK','DGK','STK']
queens = ['GQQ','GTT','STB','DCGQQ','ASJQQ']
suitesK = ['SGK','STE1']
SuitesS = 'STE2'
suitesQ = ['SGQQ','ASGQQ']
for i in range(len(alex['Room Points'])):
    points = alex["Room Points"].iloc[i] 
    room = alex['Room Type'].iloc[i]
    service = alex['Service Type'].iloc[i]
    if pd.isna(alex['Room Points'].iloc[i]) == True:
        if room in kings:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] + 1
            else:
                count['King Stayover'] = count['King Stayover'] + 1
        if room in queens:
            if service == 'Check-Out':
                count['Queen Checkout'] = count['Queen Checkout'] + 1
            else:
                count['Queen Stayover'] = count['Queen Stayover'] + 1
        if room in suitesK:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] +1 
                count['King Stayover'] = count['King Stayover'] +1
            else:
                count['King Checkout'] = count['King Checkout'] +1 
        if room == SuitesS:
            if service == 'Check-Out':
                count['King Checkout'] = count['King Checkout'] + 2
            else:
                count['King Checkout'] = count['King Checkout'] +1 
        if room in suitesQ:
            if service == 'Check-Out':
                count['Queen Checkout'] = count['Queen Checkout'] +1
                count['king Stayover'] = count['King Stayover'] + 1

    #   Write code to check room type and service type
    else:
        if points == 3:
            count['King Stayover'] = count['King Stayover'] + 1
        if points == 4:
            count['Queen Stayover'] = count['Queen Stayover'] + 1
        if points == 6:
            count['King Checkout'] = count['King Checkout'] + 1
        if points == 7:
            count['Queen Checkout'] = count['Queen Checkout'] + 1
        if points == 9:
            count['King Checkout'] = count['King Checkout'] + 1
            count['King Stayover'] = count['King Stayover'] + 1
        if points == 10:
            count['King Checkout'] = count['King Checkout'] + 1
            count['Queen Stayover'] = count['Queen Stayover'] +1
        if points == 12:
            count['King Checkout'] = count['King Checkout'] + 2 
FullCount.append(('Alexander',count))

In [80]:
pd.isna(alex['Room Points'].iloc[6])

True

In [13]:
FullCount

[('Alexander',
  {'King Checkout': 4,
   'King Stayover': 3,
   'Queen Checkout': 3,
   'Queen Stayover': 3})]

In [15]:
print([i[0] for i in FullCount])

['Alexander']

In [16]:
testdf = pd.DataFrame(index=test)

In [18]:
len(testdf)

10

In [19]:
testdf

Empty DataFrame
Columns: []
Index: [Alexander, Andrea A, Cheyenne, Emir, Jasmine, Johana, Julio, Mariana, Nestor, Shae]